# Logistic Regression in scikit-learn


## Introduction

Generally, the process for fitting a logistic regression model using scikit-learn is very similar to that which you previously saw for `statsmodels`. One important exception is that scikit-learn will not display statistical measures such as the p-values associated with the various features. This is a shortcoming of scikit-learn, although scikit-learn has other useful tools for tuning models which we will investigate in future lessons.

The other main process of model building and evaluation which we didn't discuss previously is performing a train-test split. As we saw in linear regression, model validation is an essential part of model building as it helps determine how our model will generalize to future unseen cases. After all, the point of any model is to provide future predictions where we don't already know the answer but have other informative data (`X`).

With that, let's take a look at implementing logistic regression in scikit-learn using dummy variables and a proper train-test split.


## Objectives

You will be able to:

- Fit a logistic regression model using scikit-learn

## Importing the Data

In [1]:
import pandas as pd

df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Defining `X` and `y`

To start out, we'll consider `y` to be the target variable (`Survived`) and everything else to be `X`.

In [2]:
y = df["Survived"]
X = df.drop("Survived", axis=1)

## Train-Test Split

Specifying a `random_state` means that we will get consistent results even if the kernel is restarted.

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

## Preprocessing

### Dealing with Missing Data

Some of the data is missing, which won't work with a scikit-learn model:

In [4]:
X_train.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            133
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          511
Embarked         2
dtype: int64

For `Cabin` and `Embarked` (categorical features), we'll manually fill this in with "missing" labels:

In [5]:
X_train_fill_na = X_train.copy()
X_train_fill_na.fillna({"Cabin":"cabin_missing", "Embarked":"embarked_missing"}, inplace=True)
X_train_fill_na.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age            133
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         0
dtype: int64

For `Age` (a numeric feature), we'll use a `SimpleImputer` from scikit-learn ([documentation here](https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html)) to fill in the mean:

In [6]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer()

imputer.fit(X_train_fill_na[["Age"]])
age_imputed = pd.DataFrame(
    imputer.transform(X_train_fill_na[["Age"]]),
    # index is important to ensure we can concatenate with other columns
    index=X_train_fill_na.index,
    columns=["Age"]
)

X_train_fill_na["Age"] = age_imputed
X_train_fill_na.isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

### Dealing with Categorical Data

Some of the columns of `X_train_fill_na` currently contain categorical data (i.e. Dtype `object`):

In [7]:
X_train_fill_na.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 105 to 684
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  668 non-null    int64
 1   Pclass       668 non-null    int64
 2   Name         668 non-null    object
 3   Sex          668 non-null    object
 4   Age          668 non-null    float64
 5   SibSp        668 non-null    int64
 6   Parch        668 non-null    int64
 7   Ticket       668 non-null    object
 8   Fare         668 non-null    float64
 9   Cabin        668 non-null    object
 10  Embarked     668 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 62.6+ KB

In [8]:
X_train_categorical = X_train_fill_na.select_dtypes(exclude=["int64", "float64"]).copy()
X_train_categorical

,Name,Sex,Ticket,Cabin,Embarked
105,"Mionoff, Mr. Stoytcho",male,349207,cabin_missing,S
68,"Andersson, Miss. Erna Alexandra",female,3101281,cabin_missing,S
253,"Lobb, Mr. William Arthur",male,A/5. 3336,cabin_missing,S
320,"Dennis, Mr. Samuel",male,A/5 21172,cabin_missing,S
706,"Kelly, Mrs. Florence ""Fannie""",female,223596,cabin_missing,S
...,...,...,...,...,...
835,"Compton, Miss. Sara Rebecca",female,PC 17756,E49,C
192,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,350046,cabin_missing,S
629,"O'Connell, Mr. Patrick D",male,334912,cabin_missing,Q
559,"de Messemaeker, Mrs. Guillaume Joseph (Emma)",female,345572,cabin_missing,S
684,"Brown, Mr. Thomas William Solomon",male,29750,cabin_missing,S

In [9]:
# Inspect unique categories in each categorical variable
for column in X_train_categorical.columns:
    unique_categories = X_train_categorical[column].unique()
    print(f"Unique categories in {column}:")
    print(unique_categories)

    # You can also use value_counts to see the frequency of each category
    category_counts = X_train_categorical[column].value_counts()
    print(f"Category counts in {column}:")
    print(category_counts)

Unique categories in Name:
['Mionoff, Mr. Stoytcho' 'Andersson, Miss. Erna Alexandra'
 'Lobb, Mr. William Arthur' 'Dennis, Mr. Samuel'
 'Kelly, Mrs. Florence "Fannie"' 'Tornquist, Mr. William Henry'
 'Rosblom, Mr. Viktor Richard' 'Vande Velde, Mr. Johannes Joseph'
 'Herman, Miss. Alice' 'Heikkinen, Miss. Laina'
 'Dahlberg, Miss. Gerda Ulrika' 'Smart, Mr. John Montgomery'
 'Hakkarainen, Mr. Pekka Pietari' 'Ward, Miss. Anna'
 'Harper, Miss. Annie Jessie "Nina"'
 'Mellinger, Mrs. (Elizabeth Anne Maidment)' 'Olsen, Mr. Ole Martin'
 'Saad, Mr. Amin' 'Hays, Mrs. Charles Melville (Clara Jennings Gregg)'
 'Tikkanen, Mr. Juho' 'Fynney, Mr. Joseph J' 'Taussig, Miss. Ruth'
 'Moubarek, Master. Gerios' 'Peters, Miss. Katie' 'Laleff, Mr. Kristo'
 'Williams, Mr. Howard Hugh "Harry"' 'Moor, Mrs. (Beila)'
 'Vovk, Mr. Janko' 'Vander Planke, Mr. Leo Edmondus'
 'Thayer, Mr. John Borland' 'Frost, Mr. Anthony Wood "Archie"'
 'Goodwin, Miss. Lillian Amy'
 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)' 'Kelly, Miss. Mary'
 'Dahl, Mr. Karl Edwart' 'Asplund, Master. Edvin Rojj Felix'
 'Connors, Mr. Patrick' 'Staneff, Mr. Ivan' 'Samaan, Mr. Youssef'
 'Lemberopolous, Mr. Peter L' 'Harrison, Mr. William'
 'McEvoy, Mr. Michael' 'Yasbeck, Mr. Antoni' 'Sjoblom, Miss. Anna Sofia'
 'Stewart, Mr. Albert A' 'Daly, Mr. Peter Denis '
 'Harper, Mrs. Henry Sleeper (Myna Haxtun)'
 'Goodwin, Master. Sidney Leonard' 'White, Mr. Percival Wayland'
 'Caram, Mrs. Joseph (Maria Elias)' 'Davies, Master. John Morgan Jr'
 'Baxter, Mr. Quigg Edmond' 'Saundercock, Mr. William Henry'
 'Corn, Mr. Harry' 'Madsen, Mr. Fridtjof Arne'
 'O\'Leary, Miss. Hanora "Norah"' 'Harknett, Miss. Alice Phoebe'
 'Harmer, Mr. Abraham (David Lishin)' 'Murphy, Miss. Katherine "Kate"'
 'Williams-Lambert, Mr. Fletcher Fellows'
 'Swift, Mrs. Frederick Joel (Margaret Welles Barron)'
 'Svensson, Mr. Johan' 'Jonkoff, Mr. Lalio' 'Elias, Mr. Joseph Jr'
 'Lefebre, Miss. Jeannie' 'Chapman, Mr. Charles Henry'
 'Clifford, Mr. George Quincy' 'Williams, Mr. Charles Eugene'
 'Renouf, Mr. Peter Henry' 'Peter, Mrs. Catherine (Catherine Rizk)'
 'Drew, Mrs. James Vivian (Lulu Thorne Christian)'
 'Brown, Miss. Amelia "Mildred"' 'Coleridge, Mr. Reginald Charles'
 'Fox, Mr. Stanley Hubert' 'Van der hoef, Mr. Wyckoff'
 'Romaine, Mr. Charles Hallace ("Mr C Rolmane")' 'Ponesell, Mr. Martin'
 'Kenyon, Mrs. Frederick R (Marion)' 'Kalvik, Mr. Johannes Halvorsen'
 'Hagland, Mr. Ingvald Olai Olsen' 'Caldwell, Master. Alden Gates'
 'Behr, Mr. Karl Howell' 'Madigan, Miss. Margaret "Maggie"'
 'Molson, Mr. Harry Markland' 'Andersson, Miss. Ebba Iris Alfrida'
 'Ridsdale, Miss. Lucy' 'Balkic, Mr. Cerin' 'Beesley, Mr. Lawrence'
 'Rice, Mrs. William (Margaret Norton)'
 'Van Impe, Mrs. Jean Baptiste (Rosalie Paula Govaert)'
 'Reed, Mr. James George' 'Maenpaa, Mr. Matti Alexanteri'
 'Silverthorne, Mr. Spencer Victor' 'Holverson, Mr. Alexander Oskar'
 'Sheerlinck, Mr. Jan Baptist' 'Sage, Master. Thomas Henry'
 'Stranden, Mr. Juho' 'Kassem, Mr. Fared' 'Moran, Miss. Bertha'
 'Burns, Miss. Elizabeth Margaret' 'Reynaldo, Ms. Encarnacion'
 'Chaffee, Mr. Herbert Fuller' "O'Brien, Mr. Thomas"
 'Silvey, Mr. William Baird' 'Goncalves, Mr. Manuel Estanslas'
 'Hassan, Mr. Houssein G N' 'Gustafsson, Mr. Alfred Ossian'
 'Cameron, Miss. Clear Annie' 'Lester, Mr. James'
 'Goldsmith, Master. Frank John William "Frankie"'
 'Pengelly, Mr. Frederick William' 'Bourke, Mr. John' 'Cacic, Mr. Luka'
 'Leeni, Mr. Fahim ("Philip Zenni")' 'Millet, Mr. Francis Davis'
 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)'
 'Elsbury, Mr. William James' 'Ivanoff, Mr. Kanio'
 'Williams, Mr. Charles Duane' 'Jansson, Mr. Carl Olof'
 'Montvila, Rev. Juozas' 'Chambers, Mr. Norman Campbell'
 'Goldenberg, Mr. Samuel L' 'Nye, Mrs. (Elizabeth Ramell)'
 'Mudd, Mr. Thomas Charles' 'Birkeland, Mr. Hans Martin Monsen'
 'Gee, Mr. Arthur H' 'Graham, Mrs. William Thompson (Edith Junkins)'
 'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)' 'Asim, Mr. Adola'
 'Widegren, Mr. Carl/Charles Peter' 'Duran y More, Miss. Asuncion'
 'Markun, Mr. Johann' 'Becker, Miss. Marion Louise'
 'Petranec, Miss. Matilda' 'Gillespie, Mr. William Henry'
 'Goodwin, Mrs. Frederick (Augusta Tyler)' 'Lefebre, Miss. Mathilde'
 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)'
 'Taussig, Mrs. Emil (Tillie Mandelbaum)'
 'Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)'
 'Pettersson, Miss. Ellen Natalia' 'Perreault, Miss. Anne'
 'Heininen, Miss. Wendla Maria' 'Sunderland, Mr. Victor Francis'
 'Alexander, Mr. William' 'Francatelli, Miss. Laura Mabel'
 'Fischer, Mr. Eberhard Thelander' 'Rice, Master. George Hugh'
 'Hewlett, Mrs. (Mary D Kingcome) ' 'Minahan, Dr. William Edward'
 'Lefebre, Miss. Ida' 'McCarthy, Mr. Timothy J'
 'Foreman, Mr. Benjamin Laventall' 'Hampe, Mr. Leon'
 'Hirvonen, Miss. Hildur E' 'Gustafsson, Mr. Anders Vilhelm'
 'Keane, Miss. Nora A' 'Mitkoff, Mr. Mito' 'Carr, Miss. Helen "Ellen"'
 'Johnson, Mr. William Cahoone Jr' 'Nosworthy, Mr. Richard Cater'
 'Christmann, Mr. Emil' 'Yousif, Mr. Wazli' 'Simmons, Mr. John'
 'McGowan, Miss. Anna "Annie"' 'Palsson, Miss. Stina Viola'
 'Flynn, Mr. John' 'Bazzani, Miss. Albina' 'Bourke, Mrs. John (Catherine)'
 'Zimmerman, Mr. Leo' 'Gheorgheff, Mr. Stanio' 'Anderson, Mr. Harry'
 'Strom, Miss. Telma Matilda' 'Hocking, Mr. Richard George'
 'Pinsky, Mrs. (Rosa)' 'del Carlo, Mr. Sebastiano' 'Williams, Mr. Leslie'
 'Meyer, Mrs. Edgar Joseph (Leila Saks)' 'Rood, Mr. Hugh Roscoe'
 'Brown, Mrs. James Joseph (Margaret Tobin)' 'Adams, Mr. John'
 'Ford, Miss. Doolina Margaret "Daisy"' 'Ross, Mr. John Hugo'
 'Robins, Mrs. Alexander A (Grace Charity Laury)'
 'Asplund, Miss. Lillian Gertrud' 'Sivola, Mr. Antti Wilhelm'
 'Hale, Mr. Reginald' 'Hendekovic, Mr. Ignjac'
 'Nilsson, Miss. Helmina Josefina' 'Larsson, Mr. August Viktor'
 'Razi, Mr. Raihed' 'Gill, Mr. John William' 'Backstrom, Mr. Karl Alfred'
 'Robbins, Mr. Victor' 'Artagaveytia, Mr. Ramon'
 'Goldschmidt, Mr. George B' 'Farthing, Mr. John'
 'Nirva, Mr. Iisakki Antino Aijo' 'Flynn, Mr. John Irwin ("Irving")'
 'Bing, Mr. Lee' 'Celotti, Mr. Francesco'
 'Vander Planke, Miss. Augusta Maria' 'Leonard, Mr. Lionel'
 'Quick, Mrs. Frederick Charles (Jane Richards)' 'Braund, Mr. Owen Harris'
 'Lennon, Mr. Denis' 'Rice, Master. Arthur' 'Gustafsson, Mr. Johan Birger'
 'Mayne, Mlle. Berthe Antonine ("Mrs de Villiers")'
 'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)'
 'Long, Mr. Milton Clyde' 'Moss, Mr. Albert Johan'
 'Kirkland, Rev. Charles Leonard'
 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)' 'Andrews, Mr. Thomas Jr'
 'Nenkoff, Mr. Christo' 'Torber, Mr. Ernst William'
 'Ball, Mrs. (Ada E Hall)' 'Mallet, Master. Andre'
 'White, Mr. Richard Frasar' 'Sutton, Mr. Frederick' 'Rekic, Mr. Tido'
 'Givard, Mr. Hans Kristensen' 'Jarvis, Mr. John Denzil'
 'Svensson, Mr. Olof' 'Lulic, Mr. Nikola'
 'Lindahl, Miss. Agda Thorilda Viktoria' 'Giles, Mr. Frederick Edward'
 'Beane, Mrs. Edward (Ethel Clarke)' 'Nicola-Yarred, Master. Elias'
 'Richard, Mr. Emile' 'Campbell, Mr. William' 'Jensen, Mr. Hans Peder'
 'Karun, Miss. Manca' 'Badt, Mr. Mohamed' 'Carter, Miss. Lucile Polk'
 'Adahl, Mr. Mauritz Nils Martin' 'Jensen, Mr. Svend Lauritz'
 'Hoyt, Mr. Frederick Maxfield' 'Emir, Mr. Farred Chehab'
 'Mack, Mrs. (Mary)' 'Appleton, Mrs. Edward Dale (Charlotte Lamson)'
 'Silven, Miss. Lyyli Karoliina' 'Shellard, Mr. Frederick William'
 'Bostandyeff, Mr. Guentcho' 'Hogeboom, Mrs. John C (Anna Andrews)'
 'Brown, Mrs. Thomas William Solomon (Elizabeth Catherine Ford)'
 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'
 'Sobey, Mr. Samuel James Hayden' 'Young, Miss. Marie Grice'
 'Vanden Steen, Mr. Leo Peter' 'Slemen, Mr. Richard James'
 'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)'
 'Olsvigen, Mr. Thor Anderson' 'Lewy, Mr. Ervin G' 'McNamee, Mr. Neal'
 'Goldsmith, Mr. Frank John' 'Davies, Mr. Charles Henry'
 'Garside, Miss. Ethel' 'Barbara, Miss. Saiide'
 'Vander Cruyssen, Mr. Victor' 'Ibrahim Shawah, Mr. Yousseff'
 'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")'
 'Berglund, Mr. Karl Ivar Sven' 'Ilmakangas, Miss. Pieta Sofia'
 'McCoy, Miss. Agnes' 'Aubart, Mme. Leontine Pauline'
 'Lindell, Mr. Edvard Bengtsson' 'Graham, Mr. George Edward'
 'Blackwell, Mr. Stephen Weart' 'Van Impe, Miss. Catharina'
 'Dakic, Mr. Branko' 'Hansen, Mr. Claus Peter' 'Lesurer, Mr. Gustave J'
 'Culumovic, Mr. Jeso' 'Peduzzi, Mr. Joseph' 'Oreskovic, Miss. Marija'
 'Meek, Mrs. Thomas (Annie Louise Rowley)' 'Skoog, Master. Harald'
 'Homer, Mr. Harry ("Mr E Haven")'
 'Johnston, Miss. Catherine Helen "Carrie"' 'Karlsson, Mr. Nils August'
 'Skoog, Mr. Wilhelm' 'Collyer, Miss. Marjorie "Lottie"'
 'Gallagher, Mr. Martin' 'Aks, Mrs. Sam (Leah Rosen)'
 'Barton, Mr. David John' 'Sutehall, Mr. Henry Jr' 'Jonsson, Mr. Carl'
 'McMahon, Mr. Martin' 'Parrish, Mrs. (Lutie Davis)'
 'Colley, Mr. Edward Pomeroy' 'Barkworth, Mr. Algernon Henry Wilson'
 'Futrelle, Mr. Jacques Heath' 'Palsson, Master. Gosta Leonard'
 "O'Sullivan, Miss. Bridget Mary"
 'Rothes, the Countess. of (Lucy Noel Martha Dyer-Edwards)'
 'Nakid, Mr. Sahid' 'Lines, Miss. Mary Conover'
 'Richards, Master. William Rowe' 'Horgan, Mr. John'
 'Arnold-Franchi, Mr. Josef' 'van Billiard, Mr. Austin Blyler'
 'Sedgwick, Mr. Charles Frederick Waddington' 'Guggenheim, Mr. Benjamin'
 'Keane, Mr. Andrew "Andy"' 'Berriman, Mr. William John'
 'Rugg, Miss. Emily' 'Niskanen, Mr. Juha'
 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)' 'Scanlan, Mr. James'
 'Otter, Mr. Richard' 'Bourke, Miss. Mary' 'Maioni, Miss. Roberta'
 'Doharr, Mr. Tannous' 'Silvey, Mrs. William Baird (Alice Munger)'
 'Kelly, Miss. Anna Katherine "Annie Kate"'
 'Endres, Miss. Caroline Louise' 'Rintamaki, Mr. Matti' 'Calic, Mr. Jovo'
 'Pears, Mr. Thomas Clinton' 'Goodwin, Master. William Frederick'
 'Allen, Miss. Elisabeth Walton' 'McCormack, Mr. Thomas Joseph'
 'Hagland, Mr. Konrad Mathias Reiersen' 'Mangan, Miss. Mary'
 'Peuchen, Major. Arthur Godfrey' 'Bowen, Mr. David John "Dai"'
 'Richards, Mrs. Sidney (Emily Hocking)' 'Sagesser, Mlle. Emma'
 'Hoyt, Mr. William Fisher' 'Harris, Mr. Walter'
 'Harrington, Mr. Charles H' 'de Pelsmaeker, Mr. Alfons'
 'Coutts, Master. William Loch "William"'
 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)'
 'Allen, Mr. William Henry' 'Troutt, Miss. Edwina Celia "Winnie"'
 'Milling, Mr. Jacob Christian' 'Madill, Miss. Georgette Alexandra'
 'Paulner, Mr. Uscher' 'Dick, Mrs. Albert Adrian (Vera Gillespie)'
 'Ryan, Mr. Patrick' 'Dantcheff, Mr. Ristiu' 'Cacic, Miss. Marija'
 'Richards, Master. George Sibley' 'Lindblom, Miss. Augusta Charlotta'
 'Smith, Mr. Richard William' 'Keefe, Mr. Arthur'
 'Clarke, Mrs. Charles V (Ada Maria Winfield)'
 'Olsson, Mr. Nils Johan Goransson' 'Hickman, Mr. Stanley George'
 'Carlsson, Mr. Frans Olof' 'Andersson, Mr. Anders Johan'
 'Downton, Mr. William James' 'Jalsevac, Mr. Ivan'
 'Wick, Mrs. George Dennick (Mary Hitchcock)' 'Cribb, Mr. John Hatfield'
 'van Melkebeke, Mr. Philemon' 'Slabenoff, Mr. Petco'
 'Leinonen, Mr. Antti Gustaf' 'Lindqvist, Mr. Eino William'
 'Lurette, Miss. Elise' 'Carbines, Mr. William'
 'Butt, Major. Archibald Willingham' 'Panula, Master. Eino Viljami'
 'Salkjelsvik, Miss. Anna Kristine' 'Rice, Master. Eugene'
 'Patchett, Mr. George' 'Johansson, Mr. Karl Johan'
 'Crosby, Miss. Harriet R' 'Hippach, Miss. Jean Gertrude'
 'Goodwin, Master. Harold Victor'
 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)'
 'Collyer, Mrs. Harvey (Charlotte Annie Tate)' 'Gale, Mr. Shadrach'
 'Hickman, Mr. Lewis' 'Dean, Mr. Bertram Frank'
 'Kallio, Mr. Nikolai Erland' 'Carrau, Mr. Francisco M'
 'Connaghton, Mr. Michael' 'Lam, Mr. Ali' 'Sundman, Mr. Johan Julian'
 'Johnson, Master. Harold Theodor' 'Doling, Miss. Elsie'
 'Stanley, Miss. Amy Zillah Elsie'
 'Chambers, Mrs. Norman Campbell (Bertha Griggs)'
 'Slayter, Miss. Hilda Mary'
 'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")'
 'Funk, Miss. Annie Clemmer' 'Kink, Mr. Vincenz' 'Coleff, Mr. Satio'
 'Lang, Mr. Fang' 'Navratil, Master. Edmond Roger' 'Bracken, Mr. James H'
 'Panula, Master. Urho Abraham'
 'Andersson, Mr. August Edvard ("Wennerstrom")' 'Connolly, Miss. Kate'
 'Todoroff, Mr. Lalio' 'Attalah, Miss. Malake' 'Olsen, Mr. Henry Margido'
 'Sage, Miss. Stella Anna' 'Sage, Miss. Dorothy Edith "Dolly"'
 'Lefebre, Master. Henry Forbes' 'Baumann, Mr. John D'
 'Davison, Mrs. Thomas Henry (Mary E Finck)'
 'Landergren, Miss. Aurora Adelia' 'Cardeza, Mr. Thomas Drake Martinez'
 'Myhrman, Mr. Pehr Fabian Oliver Malkolm' 'Bailey, Mr. Percy Andrew'
 'Laroche, Mr. Joseph Philippe Lemercier' 'Turcin, Mr. Stjepan'
 'Newsom, Miss. Helen Monypeny' 'Mellinger, Miss. Madeleine Violet'
 'Abbott, Mr. Rossmore Edward' 'Rosblom, Mrs. Viktor (Helena Wilhelmina)'
 'Johnston, Mr. Andrew G' 'Barber, Miss. Ellen "Nellie"'
 'Allum, Mr. Owen George' 'Moor, Master. Meier'
 'Sjostedt, Mr. Ernst Adolf' 'Harper, Mr. Henry Sleeper'
 'Wheadon, Mr. Edward H' 'Fortune, Miss. Mabel Helen'
 'Devaney, Miss. Margaret Delia' 'Fortune, Miss. Alice Elizabeth'
 'Icard, Miss. Amelie' 'Sage, Mr. Douglas Bullen'
 'Yrois, Miss. Henriette ("Mrs Harbeck")'
 'Pickard, Mr. Berk (Berk Trembisky)' 'Rommetvedt, Mr. Knud Paust'
 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)'
 'Allison, Miss. Helen Loraine' 'Chronopoulos, Mr. Apostolos'
 'Newell, Miss. Marjorie' 'Padro y Manent, Mr. Julian'
 'Jussila, Mr. Eiriik' 'Andersson, Miss. Ingeborg Constanzia'
 'Theobald, Mr. Thomas Leonard' 'Cavendish, Mr. Tyrell William'
 'Sinkkonen, Miss. Anna' 'Coleff, Mr. Peju' 'Jacobsohn, Mr. Sidney Samuel'
 'Frolicher, Miss. Hedwig Margaritha'
 'Ford, Mrs. Edward (Margaret Ann Watson)' 'Hansen, Mr. Henry Damsgaard'
 'Cook, Mr. Jacob' 'Knight, Mr. Robert J' 'Charters, Mr. David'
 'Osen, Mr. Olaf Elon' 'Perkin, Mr. John Henry'
 'Danbom, Mr. Ernst Gilbert' 'Marvin, Mr. Daniel Warner'
 'Crosby, Capt. Edward Gifford' 'Lievens, Mr. Rene Aime'
 'Tomlin, Mr. Ernest Portage' 'Leyson, Mr. Robert William Norman'
 'Crease, Mr. Ernest James' 'Palsson, Miss. Torborg Danira'
 'Nakid, Miss. Maria ("Mary")' 'Honkanen, Miss. Eliina'
 'Ekstrom, Mr. Johan' 'Dimic, Mr. Jovan' 'Zabour, Miss. Hileni'
 'Chibnall, Mrs. (Edith Martha Bowerman)' 'Albimona, Mr. Nassef Cassem'
 'Fortune, Mr. Mark' "O'Brien, Mr. Timothy" 'Healy, Miss. Hanora "Nora"'
 'Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)'
 'Stephenson, Mrs. Walter Bertram (Martha Eustis)' 'Klaber, Mr. Herman'
 'Farrell, Mr. James' 'Naidenoff, Mr. Penko'
 'Baclini, Miss. Helene Barbara' 'Nysveen, Mr. Johan Hansen'
 'Moore, Mr. Leonard Charles'
 'Bradley, Mr. George ("George Arthur Brayton")'
 'Fahlstrom, Mr. Arne Jonas' 'Wilhelms, Mr. Charles'
 'Van Impe, Mr. Jean Baptiste' 'Dodge, Master. Washington'
 'Turpin, Mr. William John Robert' 'Maisner, Mr. Simon'
 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)'
 'Porter, Mr. Walter Chamberlain' 'Byles, Rev. Thomas Roussel Davids'
 'Meo, Mr. Alfonzo' 'Salonen, Mr. Johan Werner' 'Kelly, Mr. James'
 'Kimball, Mr. Edwin Nelson Jr' 'Morley, Mr. William' 'Boulos, Mr. Hanna'
 'Giglio, Mr. Victor' 'Smith, Mr. Thomas'
 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)'
 'Bystrom, Mrs. (Karolina)' 'Beckwith, Mr. Richard Leonard'
 'West, Mr. Edwy Arthur' 'Sdycoff, Mr. Todor'
 'Daniel, Mr. Robert Williams' 'Masselmani, Mrs. Fatima'
 'Goldsmith, Mrs. Frank John (Emily Alice Brown)' 'Hanna, Mr. Mansour'
 'Bissette, Miss. Amelia' 'Mellors, Mr. William John' 'Coxon, Mr. Daniel'
 'Walker, Mr. William Anderson' 'Collyer, Mr. Harvey' 'Duane, Mr. Frank'
 'de Mulder, Mr. Theodore' 'Murdlin, Mr. Joseph' 'Lam, Mr. Len'
 'Johannesen-Bratthammer, Mr. Bernt' 'Kink-Heilmann, Miss. Luise Gretchen'
 'Wiklund, Mr. Jakob Alfred' 'Tobin, Mr. Roger'
 'Roebling, Mr. Washington Augustus II'
 'Andrews, Miss. Kornelia Theodosia'
 'Stone, Mrs. George Nelson (Martha Evelyn)'
 'Asplund, Master. Clarence Gustaf Hugo' 'Glynn, Miss. Mary Agatha'
 'Waelens, Mr. Achille'
 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)'
 'Bonnell, Miss. Elizabeth' 'Laroche, Miss. Simonne Marie Anne Andree'
 'Ford, Mr. William Neal' 'Mamee, Mr. Hanna'
 'Beckwith, Mrs. Richard Leonard (Sallie Monypeny)'
 'West, Miss. Constance Mirium'
 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)'
 'Hart, Mr. Henry' 'Norman, Mr. Robert Douglas' 'Blank, Mr. Henry'
 'Navratil, Mr. Michel ("Louis M Hoffman")' 'Nankoff, Mr. Minko'
 'Chapman, Mr. John Henry' 'Webber, Miss. Susan'
 'Troupiansky, Mr. Moses Aaron' 'Rush, Mr. Alfred George John'
 'Doling, Mrs. John T (Ada Julia Bone)' 'Widener, Mr. Harry Elkins'
 'Drazenoic, Mr. Jozef' 'Humblen, Mr. Adolf Mathias Nicolai Olsen'
 'Sloper, Mr. William Thompson' 'Elias, Mr. Dibo' 'Wright, Mr. George'
 'Harder, Mr. George Achilles' 'McGough, Mr. James Robert'
 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)'
 'Sage, Mr. Frederick' 'Jermyn, Miss. Annie' 'Ohman, Miss. Velin'
 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)'
 'Buss, Miss. Kate' 'Levy, Mr. Rene Jacques' 'Dick, Mr. Albert Adrian'
 'Thorne, Mrs. Gertrude Maybelle' 'Karaic, Mr. Milan'
 'Olsen, Mr. Karl Siegwart Andreas' 'Shorney, Mr. Charles Joseph'
 'Carter, Mrs. Ernest Courtenay (Lilian Hughes)' 'Pasic, Mr. Jakob'
 'Ling, Mr. Lee' 'Thayer, Mrs. John Borland (Marian Longstreth Morris)'
 'Allison, Master. Hudson Trevor' 'Morrow, Mr. Thomas Rowan'
 'Ringhini, Mr. Sante' 'Johnson, Mr. Malkolm Joackim'
 'Gaskell, Mr. Alfred' 'Lovell, Mr. John Hall ("Henry")'
 'Frauenthal, Dr. Henry William' 'Burke, Mr. Jeremiah'
 'Sage, Miss. Constance Gladys' 'Coelho, Mr. Domingos Fernandeo'
 'Serepeca, Miss. Augusta' "O'Driscoll, Miss. Bridget"
 'Hocking, Mrs. Elizabeth (Eliza Needs)' 'Sage, Mr. George John Jr'
 'Youseff, Mr. Gerious' 'Ilett, Miss. Bertha'
 'Parr, Mr. William Henry Marsh' 'Davies, Mr. Alfred J'
 'Jardin, Mr. Jose Neto' 'Pain, Dr. Alfred' 'Andreasson, Mr. Paul Edvin'
 'McDermott, Miss. Brigdet Delia'
 'Bjornstrom-Steffansson, Mr. Mauritz Hakan'
 'Robert, Mrs. Edward Scott (Elisabeth Walton McMillan)'
 'Andersson, Miss. Ellis Anna Maria'
 'Bishop, Mrs. Dickinson H (Helen Walton)' 'Novel, Mr. Mansouer'
 'Danoff, Mr. Yoto' 'Cherry, Miss. Gladys' 'Alhomaki, Mr. Ilmari Rudolf'
 'Petterson, Mr. Johan Emil' 'Kraeff, Mr. Theodor'
 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)' 'Sadlier, Mr. Matthew'
 'Denkoff, Mr. Mitto' 'Natsch, Mr. Charles H'
 'Carlsson, Mr. August Sigfrid' 'Somerton, Mr. Francis William'
 'Thayer, Mr. John Borland Jr'
 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)'
 'Yasbeck, Mrs. Antoni (Selini Alexander)' 'Peter, Miss. Anna'
 'Carter, Master. William Thornton II' 'O\'Dwyer, Miss. Ellen "Nellie"'
 'Becker, Master. Richard F' "O'Connor, Mr. Maurice"
 'Daly, Mr. Eugene Patrick' 'Edvardsson, Mr. Gustaf Hjalmar'
 'Pears, Mrs. Thomas (Edith Wearne)' 'Attalah, Mr. Sleiman'
 'Greenberg, Mr. Samuel' 'Beane, Mr. Edward' 'Douglas, Mr. Walter Donald'
 'Thorneycroft, Mr. Percival' 'Mullens, Miss. Katherine "Katie"'
 'Reeves, Mr. David' 'Hosono, Mr. Masabumi'
 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)'
 'Ford, Miss. Robina Maggie "Ruby"' 'Newell, Mr. Arthur Webster'
 'Osman, Mrs. Mara' 'Baclini, Mrs. Solomon (Latifa Qurban)'
 'Isham, Miss. Ann Elizabeth' 'Kantor, Mr. Sinai'
 'Andersson, Master. Sigvard Harald Elias'
 'Baclini, Miss. Marie Catherine'
 'Thorneycroft, Mrs. Percival (Florence Kate White)' 'Markoff, Mr. Marin'
 'Moubarek, Master. Halim Gonios ("William George")'
 'Hamalainen, Master. Viljo' 'Pekoniemi, Mr. Edvard'
 'Emanuel, Miss. Virginia Ethel' 'Hood, Mr. Ambrose Jr'
 'Abbing, Mr. Anthony' 'LeRoy, Miss. Bertha' 'Turja, Miss. Anna Sofia'
 'Goldenberg, Mrs. Samuel L (Edwiga Grabowska)'
 'Abelson, Mrs. Samuel (Hannah Wizosky)' 'Smith, Mr. James Clinch'
 'Slocovski, Mr. Selman Francis' 'Sharp, Mr. Percival James R'
 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)'
 'Morley, Mr. Henry Samuel ("Mr Henry Marshall")' 'Hart, Mr. Benjamin'
 'Olsson, Miss. Elina'
 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)'

In [10]:
# Handle missing values in categorical variables using methods like imputation or removal
# For example, you can use SimpleImputer from scikit-learn for imputation
from sklearn.impute import SimpleImputer

# Create an instance of SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')

# Fit the imputer to X_train_categorical and transform it
X_train_categorical_imputed = imputer.fit_transform(X_train_categorical)

# Ensure that all categorical variables are properly encoded (e.g., as strings or categorical data types)
# Convert categorical variables to appropriate data types if necessary
# For example, convert numeric variables to strings
X_train_categorical_imputed = X_train_categorical_imputed.astype(str)

`OneHotEncoder` from scikit-learn ([documentation here](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html)) can be used to convert categorical variables into dummy one-hot encoded variables:

In [11]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

ohe = OneHotEncoder(handle_unknown="ignore")

# Assuming X_train_categorical is your input data
X_train_ohe = ohe.fit_transform(X_train_categorical)

# Get the shape of the transformed data
transformed_shape = X_train_ohe.shape

# Print the shape
print("Shape of transformed data:", transformed_shape)

Shape of transformed data: (668, 1336)

In [12]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

ohe = OneHotEncoder(handle_unknown="ignore", sparse_output=False) #removed sparse_output=False from parentheses

ohe.fit(X_train_categorical)
X_train_ohe = pd.DataFrame(
    ohe.transform(X_train_categorical),
    # index is important to ensure we can concatenate with other columns
    index=X_train_categorical.index,
    # we are dummying multiple columns at once, so stack the names
    columns=np.hstack(ohe.categories_)
)
X_train_ohe

TypeError: __init__() got an unexpected keyword argument 'sparse_output'

In [ ]:
# After transforming the data with OneHotEncoder, inspect the resulting column names
# Use the get_feature_names_out() method of the OneHotEncoder object to retrieve the names of the encoded features
encoded_feature_names = ohe.get_feature_names_out(input_features=X_train_categorical.columns)

# Verify that the column names match the transformed data and that there are no discrepancies in the alignment
# Print the encoded feature names
print("Encoded feature names:")
print(encoded_feature_names)

Wow! That's a lot of columns! Way more than is useful in practice: we now have columns for each of the passenger's names. This is an example of what not to do. Let's try that again, this time being mindful of which variables we actually want to include in our model.

Instead of just selecting every single categorical feature for dummying, let's only include the ones that make sense as categories rather than being the names of individual people:

In [ ]:
categorical_features = ["Sex", "Cabin", "Embarked"]
X_train_categorical = X_train_fill_na[categorical_features].copy()
X_train_categorical

In [ ]:
ohe.fit(X_train_categorical)

X_train_ohe = pd.DataFrame(
    ohe.transform(X_train_categorical),
    index=X_train_categorical.index,
    columns=np.hstack(ohe.categories_)
)
X_train_ohe

That's still a lot of columns, but we no longer have more columns than records!

### Normalization

Now let's look at the numeric features. This time we'll also pay more attention to the meaning of the features, and only include relevant ones (e.g. not including `PassengerId` because this is a data artifact, not a true feature).

Another important data preparation practice is to normalize your data. That is, if the features are on different scales, some features may impact the model more heavily then others. To level the playing field, we often normalize all features to a consistent scale of 0 to 1.

As you can see, our features are currently not on a consistent scale:

In [ ]:
numeric_features = ["Pclass", "Age", "SibSp", "Fare"]
X_train_numeric = X_train_fill_na[numeric_features].copy()
X_train_numeric

Let's use a `MinMaxScaler` from scikit-learn ([documentation here](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html)) with default parameters to create a maximum value of 1 and a minimum value of 0. This will work well with our binary one-hot encoded data.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

scaler.fit(X_train_numeric)
X_train_scaled = pd.DataFrame(
    scaler.transform(X_train_numeric),
    # index is important to ensure we can concatenate with other columns
    index=X_train_numeric.index,
    columns=X_train_numeric.columns
)
X_train_scaled

Then we concatenate everything together:

In [ ]:
X_train_full = pd.concat([X_train_scaled, X_train_ohe], axis=1)
X_train_full

## Fitting a Model

Now let's fit a model to the preprocessed training set. In scikit-learn, you do this by first creating an instance of the `LogisticRegression` class. From there, then use the `.fit()` method from your class instance to fit a model to the training data.

In [ ]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(fit_intercept=False, C=1e12, solver='liblinear')
model_log = logreg.fit(X_train_full, y_train)
model_log

## Model Evaluation

Now that we have a model, lets take a look at how it performs.

### Performance on Training Data

First, how does it perform on the training data?

In the cell below, `0` means the prediction and the actual value matched, whereas `1` means the prediction and the actual value did not match.

In [ ]:
y_hat_train = logreg.predict(X_train_full)

train_residuals = np.abs(y_train - y_hat_train)
print(pd.Series(train_residuals, name="Residuals (counts)").value_counts())
print()
print(pd.Series(train_residuals, name="Residuals (proportions)").value_counts(normalize=True))

Not bad; our classifier was about 85% correct on our training data!

### Performance on Test Data

Now let's apply the same preprocessing process to our test data, so we can evaluate the model's performance on unseen data.

In [ ]:
# Filling in missing categorical data
X_test_fill_na = X_test.copy()
X_test_fill_na.fillna({"Cabin":"cabin_missing", "Embarked":"embarked_missing"}, inplace=True)

# Filling in missing numeric data
test_age_imputed = pd.DataFrame(
    imputer.transform(X_test_fill_na[["Age"]]),
    index=X_test_fill_na.index,
    columns=["Age"]
)
X_test_fill_na["Age"] = test_age_imputed

# Handling categorical data
X_test_categorical = X_test_fill_na[categorical_features].copy()
X_test_ohe = pd.DataFrame(
    ohe.transform(X_test_categorical),
    index=X_test_categorical.index,
    columns=np.hstack(ohe.categories_)
)

# Normalization
X_test_numeric = X_test_fill_na[numeric_features].copy()
X_test_scaled = pd.DataFrame(
    scaler.transform(X_test_numeric),
    index=X_test_numeric.index,
    columns=X_test_numeric.columns
)

# Concatenating categorical and numeric data
X_test_full = pd.concat([X_test_scaled, X_test_ohe], axis=1)
X_test_full

In [ ]:
y_hat_test = logreg.predict(X_test_full)

test_residuals = np.abs(y_test - y_hat_test)
print(pd.Series(test_residuals, name="Residuals (counts)").value_counts())
print()
print(pd.Series(test_residuals, name="Residuals (proportions)").value_counts(normalize=True))

And still about 78% accurate on our test data!

## Summary

In this lesson, you took a more complete look at a data science pipeline for logistic regression, splitting the data into training and test sets and using the model to make predictions. You'll practice this on your own in the upcoming lab before having a more detailed discussion of more nuanced methods for evaluating a classifier's performance.